<h4> Nutritional Info </h4>

<!--APPATIZERS-->
<div class='row'>
   <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Veggie Spring rolls</h5>
      <p class="card-text">Ingredients: 
        Spring Roll Skin: Wheat Flour, Water, Coconut Oil, Salt. 

        Filling: Cabbage, Celery, Onion, Carrots, Garlic, Ginger, Soy Sauce, water, wheat, soybeans, salt, sodium benzoate, Sesame Oil, soybean oil, sesame oil, Chili Sauce, red chili, sugar, salt, garlic, distilled vinegar, potassium sorbate, contains sodium bisulfate as preservative, xanthan gum, Herbs, Salt, Sugar, Spices, Egg</p>
    </div>
    <ul class="list-group list-group-flush">
    	<li class="list-group-item">Calories: 592 </li>
      <li class="list-group-item">Allergens: Eggs, Wheat, Soy, Tree Nuts </li>
    </ul>
    <div class="card-body">
      <a <%= link_to 'Return to Menu', menus_path %>
      </a>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Corn Patties</h5>
      <p class="card-text">Ingredients: corn, vegetable oil, thai red curry paste, egg, rice flour, baking powder, salt, kaffir lime leaves, thai basil leaves, thai sweet chili sauce</p>
    </div>
    <ul class="list-group list-group-flush">
    	<li class="list-group-item">Calories: 520 </li>
      <li class="list-group-item">Allergens: Eggs, Wheat, Soy, Tree Nuts </li>
    </ul>
    <div class="card-body">
      <a <%= link_to 'Return to Menu', menus_path %>
      </a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Goyza</h5>
      <p class="card-text">Ingredients: ground pork, onion,  garlic, ginger, carrot, napa cabbage, sesame oil, salt, gyoza wrappers, rice vinegar, soy sauce, chili flakes.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Calories: 507 </li>
      <li class="list-group-item">Allergens: Soy, Sesame Oil </li>
    </ul>
    <div class="card-body">
      <a <%= link_to 'Return to Menu', menus_path %>
      </a>
    </div>
  </div>
</div>

<!--ENTREES-->
 <div class='row'>
   <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Chicken Pad Thai</h5>
      <p class="card-text">Ingredients: rice noodles, butter, chicken breast, vegetable oil, eggs, white vinegar, fish sauce, sugar, bean sprout, peanut, green onion, lemon</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Calories: 838 </li>
      <li class="list-group-item">Allergens: Eggs, Fish, Peanuts </li>
    </ul>
    <div class="card-body">
      <a <%= link_to 'Return to Menu', menus_path %>
      </a>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Pad See Ew</h5>
      <p class="card-text">Ingredients: rice noodles, egg, broccoli, chicken, oil, chicken broth, soy sauce, fish sauce, brown sugar, white pepper, red chili pepper</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Calories: 733 </li>
      <li class="list-group-item">Allergens: Eggs, Soy, Fish</li>
    </ul>
    <div class="card-body">
      <a <%= link_to 'Return to Menu', menus_path %>
      </a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Yellow Curry</h5>
      <p class="card-text">Ingredients: oil, yellow onion, chicken breasts, yellow curry paste, golden yukon potatoes,  coconut cream, fish sauce, brown sugar, cilantro, rice</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Calories: 327 </li>
      <li class="list-group-item">Allergens: Fish, Coconut, Curry </li>
    </ul>
    <div class="card-body">
      <a <%= link_to 'Return to Menu', menus_path %>
      </a>
    </div>
  </div>
</div>


<!--Kids Menu-->
 <div class='row'>
   <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Beef and Broccoli</h5>
      <p class="card-text">Ingredients: soy sauce, cornstarch, sherry, brown sugar, ginger, garlic, steak, peanut, olive oil, broccoli, beef broth, oyster sauce, Salt, rice</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Calories: 338 </li>
      <li class="list-group-item">Allergens: Soy, Oyster, Peanuts </li>
    </ul>
    <div class="card-body">
      <a <%= link_to 'Return to Menu', menus_path %>
      </a>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Orange Chicken</h5>
      <p class="card-text">Ingredients: 
        For the chicken: chicken, soy sauce, Chinese Shaoxing wine, dry sherry, cornstarch, canola oil

        For the orange sauce: oranges, cornstarch, canola oil, garlic, ginger, red pepper, soy sauce, Chinese Shaoxing wine, dry sherry, rice vinegar, cider vinegar, sugar, scallion greens, red chile, rice </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Calories: 1698 </li>
      <li class="list-group-item">Allergens: Soy </li>
    </ul>
    <div class="card-body">
      <a <%= link_to 'Return to Menu', menus_path %>
      </a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Fried Rice</h5>
      <p class="card-text">Ingredients: rice, sesame oil, white onion, peas, carrots, soy sauce, eggs, green onions</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Calories: 238 </li>
      <li class="list-group-item">Allergens: Sesame, Soy, Eggs </li>
    </ul>
    <div class="card-body">
     <a <%= link_to 'Return to Menu', menus_path %>
      </a>
    </div>
  </div>
</div>

<!--Desserts-->
 <div class='row'>
   <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Mango Sticky Rice</h5>
      <p class="card-text">Ingredients: rice, coconut milk, sugar, mango</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Calories: 493 </li>
      <li class="list-group-item">Allergens: Mango, Coconut </li>
    </ul>
    <div class="card-body">
      <a <%= link_to 'Return to Menu', menus_path %>
      </a>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Green Tea Ice Cream</h5>
      <p class="card-text">Ingredients: heavy cream, whole milk, salt, eggs, sugar, matcha</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Calories: 273 </li>
      <li class="list-group-item">Allergens: Matcha, Eggs </li>
    </ul>
    <div class="card-body">
      <a <%= link_to 'Return to Menu', menus_path %>
      </a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Custard Sticky Rice</h5>
      <p class="card-text">Ingredients: rice, coconut milk, sugar, egg custard</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Calories: 490 </li>
      <li class="list-group-item">Allergens: Eggs, Coconut </li>
    </ul>
    <div class="card-body">
      <a <%= link_to 'Return to Menu', menus_path %>
      </a>
    </div>
  </div>
</div>