<p id="notice"><%= notice %></p>

<h2 class="menu-section-title">MENU</h2>

<div class="menu-body">
  <div class="menu-selection">
    <% @products.each do |product| %>
    <div class="menu-item">
      <div class="menu-item-name">
        <button>Add to Order</button>
        <button><%= link_to 'View Nutritional Info', pages_NutritionalInfo_path %>
        </button>
        <div class="menu-item-name"><%= product.name %></div>
        <div class="menu-item-description"><%= product.description %></div>
        <div class="menu-item-price"><%= product.price %></div>
        <!--<td><%= product.image %></td>-->
        <%if manager_signed_in? %>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
    </div>
    </div>
    <% end %>
  </div>
</div>

<button>
<%= link_to 'Return Home', pages_CustomerHomepage_path %>
</button>
<br>

<% if manager_signed_in? %>
<%= link_to 'New Product', new_product_path %>
<% end %>