<!DOCTYPE html>
<html>
  <head>
    <title>RestaurantApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   
    <% begin %>
  <%= stylesheet_link_tag 'application', 'data-turbolinks-track' => 'reload', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
<% rescue %>
  <script>
    window.location.replace "#{user_session_url()}"
  </script>
<% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
